<footer class="footer mt-auto py-3 bg-light text-center text-muted">
    <div class="container">
        <span>&copy; 2025 <a href="#" target="_self">CreateyourLineUp</a></span>   
    </div>
    <div class="container mt-2">
        <a href="" class="mx-2 text-muted" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook-square fa-lg"></i>
        </a>
        <a href="" class="mx-2 text-muted" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter-square fa-lg"></i>
        </a>
        <a href="" class="mx-2 text-muted" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="" class="mx-2 text-muted" target="_blank" aria-label="GitHub">
            <i class="fab fa-github-square fa-lg"></i>
        </a>
    </div>
    <div class="container mt-2">
        <p>Creado por Jaime y Adrián</p>
    </div>
</footer>
