<header>
    <div class="container">
        <div>
            <!-- Aqui el logo -->
            <img src="" alt="">
        </div>
    </div>

    <div class="container">
        <!-- Aqui el menu de navegacion -->
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    
    <div class="container">
        <!-- Aqui ira el login -->
        <button></button>
        <button></button>
    </div>
    
</header>
