<header>
    <nav class="navbar navbar-expand-lg bg-light navbar-light sticky-top p-3 mb-5 d-flex">
        <div class="container">
            <div>
                <!-- Aqui el logo -->
                <a class="navbar-brand" href="">
                    <img src="/src/assets/icons8-código-94.png" alt="Logo">
                </a>
            </div>
        </div>

        <div class="container">
            <!-- Aqui el menu de navegacion -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="">Alineaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contacto</a></li>
            </ul>
        </div>
        
        <div class="container d-flex justify-content-end">
            <!-- Aqui ira el login -->
            <button class="btn btn-outline-secondary m-2">Registrate</button>
            <button class="btn btn-primary">Login</button>
        </div>
    </nav>
</header>
